<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>

    <!-- Own css -->
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}?version={{ version }}"/>
</head>

<body>

<div class="flash-bag-message">
    {% set countMessages = 0 %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info" id="alert-{{ countMessages }}">
            <i class="fa fa-info-circle" aria-hidden="true"></i> {{ flashMessage }}
        </div>
        {% set countMessages = countMessages + 1 %}
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" id="alert-{{ countMessages }}">
            <i class="fa fa-times" aria-hidden="true"></i> {{ flashMessage }}
        </div>
        {% set countMessages = countMessages + 1 %}
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning" id="alert-{{ countMessages }}">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ flashMessage }}
        </div>
        {% set countMessages = countMessages + 1 %}
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        {% set countMessages = countMessages + 1 %}
        <div class="alert alert-success" id="alert-{{ countMessages }}">
            <i class="fa fa-check" aria-hidden="true"></i> {{ flashMessage }}
        </div>
        {% set countMessages = countMessages + 1 %}
    {% endfor %}
</div>

{#{% include 'navbar.html.twig' %}#}

{% block body %}{% endblock %}

<!-- Bootstrap -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<script type="text/javascript">

    $.fn.extend({
        animateCss: function (animationName) {
            var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
            $(this).addClass('animated ' + animationName).one(animationEnd, function () {
                $(this).removeClass('animated ' + animationName);
            });
        }
    });

    function disableMessage(i) {
        $("#alert-" + i).fadeOut(1000, function () {
            $("#alert-" + i).alert('close');
        });
        if (i < {{ countMessages }}) {
            window.setTimeout(disableMessage(i + 1), 2000);
        }
    }

    window.setTimeout(disableMessage(0), 2000);


</script>


{% block javascripts %}{% endblock %}

</body>
</html>
