<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />

        <!-- Own css -->
        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}?version={{ version }}" />
    </head>

    <body>

    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-info alert-dismissable col-lg-10 col-lg-offset-1">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Information</strong> {{ flashMessage }}
        </div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger alert-dismissable col-lg-10 col-lg-offset-1">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Error</strong> {{ flashMessage }}
        </div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}

        <div class="alert alert-warning alert-dismissable col-lg-10 col-lg-offset-1">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Warning</strong> {{ flashMessage }}
        </div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success alert-dismissable col-lg-10 col-lg-offset-1">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Success</strong> {{ flashMessage }}
        </div>

    {% endfor %}

        {#{% include 'navbar.html.twig' %}#}

        {% block body %}{% endblock %}

        <!-- Bootstrap -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


        {% block javascripts %}{% endblock %}

    </body>
</html>
