{% extends 'base.html.twig' %}

{% block body %}
    {% if bottle is not null %}

        <h3>You open the bottle... it contains a message!</h3>
        <div>It's a bottle from {{ bottle.sourceRole }}</div>
        <div>{{ bottle.message }}</div><br/><br/>

        <h3>Please evaluate this bottle</h3>

        <form action="{{ path('bottle_evaluate') }}" method="post">
            Mark (/5) <input type="text" name="mark" value=""/><br/><br/>
            Emoji <select name="emoji">
                {% for emoji in emojis %}
                    <option value="{{ emoji.id }}">{{ emoji.name }}</option>
                {% endfor %}
            </select><br/><br/>

            <input type="submit" name="write" value="Save and evaluate"/>
        </form>

    {% else %}
        There is no bottle available for you, come back later!
    {% endif %}
{% endblock %}