{% extends 'base.html.twig' %}

{% block title %}
    Report
{% endblock %}

{% block body %}

    <a href="{{ path('bottle_home_admin') }}"
       class="animated fadeIn grow"
       style="position: relative; left: 10px; top: 10px; font-weight: 500; font-size: 22px; cursor: pointer; color: #666666; text-decoration: none;">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Administration
    </a>

    <div class="logout-button grow">
        <a href="{{ path('logout') }}">
            Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </div>

    <div class="container" style="margin-top: 50px;">


        <div class="row">
            <div class="col-md-6">
                <h1 class="animated fadeIn" style="margin: 0;">Reports</h1>
            </div>
        </div>

        <hr style="border-color: #444444;">

        <div class="row">
            <div class="col-md-6">
                <h3 class="animated fadeIn" style="margin: 0;">New ({{ sent|length }})</h3>
            </div>
        </div>
        <br>
        <div class="row">

            {% for report in sent %}
                <div class="col-md-3">
                    <div class="panel panel-default bottle grow animated fadeIn">
                        <p class="text">
                            {{ report.reportId ~ '.' }}
                            {% if report.reportMessage is not null %}
                                reported message :
                                {{ report.reportMessage|length > 200 ? report.reportMessage | slice(0, 200) ~ ' ...' : report.reportMessage }}
                            {% else %}
                                original message :
                                {{ report.message|length > 200 ? report.message | slice(0, 200) ~ ' ...' : report.message }}
                            {% endif %}
                        </p>
                        {% if (report.image is not null) %}
                            <p class="image-icon">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                <span style="font-size: 11px">{{ report.username }}</span>
                            </p>
                        {% else %}
                            <p class="image-icon" style="font-size: 11px;">
                                {{ report.username }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <h3>No new report :)</h3>
                </div>
            {% endfor %}
        </div>
        <br/>

        <div class="row">
            <div class="col-md-6">
                <h3 class="animated fadeIn" style="margin: 0;">Read ({{ read|length }})</h3>
            </div>
        </div>
        <br>
        <div class="row">
            {% for report in read %}
                <div class="col-md-3">
                    <div class="panel panel-default bottle grow animated fadeIn">
                        <p class="text">
                            {{ report.reportId ~ '.' }}
                            {% if report.reportMessage is not null %}
                                reported message :
                                {{ report.reportMessage|length > 200 ? report.reportMessage | slice(0, 200) ~ ' ...' : report.reportMessage }}
                            {% else %}
                                original message :
                                {{ report.message|length > 200 ? report.message | slice(0, 200) ~ ' ...' : report.message }}
                            {% endif %}
                        </p>
                        {% if (report.image is not null) %}
                            <p class="image-icon">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                <span style="font-size: 11px">{{ report.username }}</span>
                            </p>
                        {% else %}
                            <p class="image-icon" style="font-size: 11px;">
                                {{ report.username }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <h3>No reports read</h3>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
