{% extends 'base.html.twig' %}

{% block title %}
    Report
{% endblock %}

{% block body %}

<a href="{{ path('collection_home') }}"
   class="animated fadeIn grow"
   style="position: absolute; left: 10px; top: 10px; font-weight: 500; font-size: 22px; cursor: pointer; color: #666666; text-decoration: none;">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> My collection
</a>

<div style="display: table; width: 100%; height: 100%">
    <div style="display: table-cell; vertical-align: middle">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <div class="panel panel-default bottle-full animated fadeInDown">
                        {% if bottle.sourceRole == 'ROLE_USER' %}
                            <p class="title">Bottle opened ..</p>
                        {% else %}
                            <p class="title">Bottle from Administrator ..</p>
                        {% endif %}
                        <hr />
                        {% if bottle.sourceRole == 'ROLE_USER' %}
                            {% if bottle.image is not null %}
                                <img src="{{ bottle.image }}" class="img-responsive" style="width: 400px; margin: 0 auto;">
                                <div style="margin-bottom: 30px;"></div>
                            {% endif %}
                        {% endif %}
                        <p class="message">{{ bottle.message }}</p>
                        <div class="row no-padding">
                            <p class="user-info pull-right">Date : {{  bottle.receivedDate | date('d/m/y') }}</p>
                        </div>

                        {% if bottle.sourceRole == 'ROLE_USER' %}
                        <form method="post" action="{{ path('collection_delete_bottle') }}">
                        {% else %}
                        <form method="post" action="{{ path('collection_delete_bottle_admin') }}">
                        {% endif %}
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="submit" name="idBottle" value="{{ bottle.id }}" class="btn btn-danger btn-block" style="">Delete</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
