{% extends 'base.html.twig' %}

{% block title %}
    My collection
{% endblock %}

{% block body %}

    <div class="logout-button grow">
        <a href="{{ path('logout') }}">
            Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </div>

    <a href="{{ path('main_home') }}"
       class="animated fadeIn grow"
       style="position: absolute; right: 10px; top: 10px; font-weight: 500; font-size: 22px; cursor: pointer; color: #666666; text-decoration: none;">
        My profile <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>



    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-6">
                <h1 class="animated fadeIn" style="margin: 0;">My collection</h1>
            </div>
        </div>

        <hr style="border-color: #444444;">

        <div class="row">

            {% for bottle in bottles %}
                <div class="col-md-3">
                    {% if bottle.sourceRole == 'ROLE_USER' %}
                        <a href="{{ path('collection_display_bottle', { 'id': bottle.id }) }}" style="color: #333; text-decoration: none;">
                    {% else %}
                        <a href="{{ path('collection_display_bottle_admin', { 'id': bottle.id }) }}" style="color: #333; text-decoration: none;">
                    {% endif %}

                        <div class="panel panel-default bottle grow animated fadeIn">
                            <p class="text">
                                {{ bottle.message|length > 200 ? bottle.message | slice(0, 200) ~ ' ...' : bottle.message }}
                            <p class="info">
                                {% if (bottle.receivedDate is not null) %}
                                    {{ bottle.receivedDate|date('Y/m/d') }}
                                {% else %}
                                    NULL_DATE
                                {% endif %}
                            </p>

                            {% if (bottle.image is defined) %}
                                {% if (bottle.image is not null) %}
                                    <p class="image-icon">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    </p>
                                {% endif %}
                            {% else %}
                                <p class="admin">
                                    Administrator
                                </p>

                            {% endif %}

                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

