{% extends 'base.html.twig' %}

{% block title %}
    User page
{% endblock %}

{% block body %}

    <div style="display: table; width: 100%; height: 100%;">

        <div style="display: table-cell; vertical-align: middle;">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="panel panel-default user-panel animated fadeIn">
                            <div class="panel-heading heading text-center">
                                <i class="fa fa-user" aria-hidden="true"></i> My profile
                            </div>
                            <div class="panel-body">
                                <div class="text">
                                    <i class="fa fa-user" aria-hidden="true"></i> {{ user.username }}
                                </div>

                                <div class="text">
                                    <i class="fa fa-envelope" aria-hidden="true"></i> {{ user.email }}
                                </div>

                                <div class="text">
                                    <i class="fa fa-star" aria-hidden="true"></i> XP ({{ user.experience }}/{{ (user.level * user.level) * 50 }})
                                    <div class="progress">
                                        <div class="progress-bar"
                                             style="width: {{ (user.experience / (user.level * user.level * 50)) * 100 }}%;"></div>
                                    </div>
                                    <div>

                                        <div class="text">
                                            <i class="fa fa-trophy" aria-hidden="true"></i> Level {{ user.level }}
                                        </div>

                                        <div class="text">
                                            <i class="fa fa-star-half-o" aria-hidden="true"></i> {{ mark }} / 5 {# don't display mark when no bottle opened#}
                                        </div>

                                        <div class="text">
                                            <i class="fa fa-asterisk" aria-hidden="true"></i> <span
                                                    style="font-weight: 500;">Bottles</span>
                                            <div class="sub-text"><i class="fa fa-arrow-left"
                                                                     aria-hidden="true"></i> {{ bottleReceived }}
                                                received
                                            </div>
                                            <div class="sub-text"><i class="fa fa-arrow-right"
                                                                     aria-hidden="true"></i> {{ bottleTransmitted }}
                                                sent
                                            </div>
                                        </div>


                                        <div class="text">
                                            <i class="fa fa-asterisk" aria-hidden="true"></i> <span
                                                    style="font-weight: 500;">Bottles order by mood</span>
                                            <div class="row" style="padding: 0;">

                                                {% for emoji in emojis %}
                                                <div class="col-md-1">
                                                    <div class="sub-text"><i class="fa {{ emoji['image'] }}" aria-hidden="true"></i>
                                                        {{ emoji['count'] }}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>


                                        <div class="row" style="margin-top: 40px;">
                                            <div class="col-md-6">
                                                <a href="{{ path('collection_home') }}" class="btn btn-primary btn-lg">My
                                                    collection</a>
                                            </div>

                                            <div class="col-md-6">
                                                <a href="{{ path('bottle_home') }}"
                                                   class="btn btn-primary btn-lg pull-right">Bottles</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}