{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}


    <div style="position: fixed; top: 46%; left: 50%; transform: translate(-50%, -50%);">
        <div class="container">
            <div id="title">
                <div class="row" style="text-align: center;">
                    <div class="col-md-8 col-md-offset-2">
                        <p style="font-size: 70px; margin: 0; font-weight: 500;">
                            Welcome on Drift
                        </p>
                    </div>
                </div>

                <hr style="background-color: #666666; border-color: #666666; color: #666666; width: 5%; margin-top: 0; height: 4px; "/>
            </div>

            <div class="row" style="margin-top: 35px;">

                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-primary animated fadeIn" id="button-group">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <h3 class="panel-title"><i class="fa fa-sign-in"></i> Sign In</h3>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form action="{{ path('login_check') }}" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email" type="text" id="username"
                                               name="_username" value="{{ last_username }}"
                                               style="padding-left: 3px; padding-right: 3px;"/>
                                    </div>

                                    <div class="form-group">
                                        <input class="form-control" name="_password" placeholder="Password"
                                               type="password"
                                               style="padding-left: 3px; padding-right: 3px;">
                                    </div>

                                    <!-- Need ENTER KEY -->
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
                                    <p>
                                        <small>Don't have an account ? <a href={{ path('register') }}><strong
                                                        style="cursor:pointer;">Register here</strong></a></small>
                                    </p>

                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>



    {#{% if error is not null %}#}
    {#<div>{{ error.message }}</div>#}
    {#{% endif %}#}
    {#<form action="{{ path('login_check') }}" method="post">#}
    {#<label for="username">Login :</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" />#}

    {#<label for="password">Mot de passe :</label>#}
    {#<input type="password" id="password" name="_password" />#}

    {#<button type="submit">login</button>#}
    {#</form>#}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $('#title').animateCss('fadeIn');
        $('#button-group').animateCss('fadeIn');
    </script>


{% endblock %}